*{
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
    margin:0;
    padding:0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth; 
}

main{
    background: #f6f6f6;
}



/* HEADER NAV*/

header {
    display: flex;
    justify-content:space-between;
    align-items:center;
    padding-right:20px;
    width:100%;
    height: 70px;
    font-weight: 700;
    background: #ffffff4d;
    position:sticky;
    top:0;
    z-index:999;
}

.menu ul {
    display: flex;
    list-style: none;
    padding:0 20px;
}

.menu ul li{
    padding:0 30px;
}

.menu ul li a{
    text-decoration:none;
    color:#fff;
    text-shadow: 3px 2px 5px #000;
}

.menu ul li:hover {
    transform:translateY(4px);
    transition:0.3s;
    cursor:pointer;
}

.menu ul li a:hover {
    color:#ddd;
}

.hidden {
    display:none;
}

header button{
    background: #0cc233;
    border: 0;
    border-radius: 3px;
    color: #fff;
    padding: 10px;
    font-weight: 700;
    font-size: 16px;
    outline: none;
}

header button:hover,
header li.showSubscribeModalMobile{
    background: #0baa2d;
    cursor: pointer;
    transition:0.3s;
}

.closeMobileMenu,
.showSubscribeModalMobile{
    display: none;
}

header button:last-child{
	display: none;
	text-decoration: none;
}

@media (max-width: 768px){
	header nav.menu,
    header button{
		display: none;
	}

    header button:last-child,
    .closeMobileMenu,
    .showSubscribeModalMobile {
		display: inherit;
	}

    header nav.mobileMenu{
        display: flex;
        justify-content: center;
        position: absolute;
        top: 0;
        width: 100%;
        background-color: #0cc233;
        text-align: center;
    }

    header nav.mobileMenu ul{
        display: block;
        width: 100%;
        padding: 0;
    }

    header nav.mobileMenu ul a{
        display: block;
        padding: 20px;
    }

    header nav.menu ul li:hover {
        transform:none;
    }

}



/* HOME */

section#home{
    background-color: #615173;
    background-image: url("../assets/home_background_06.jpg");
    background-position: center;
    background-size: cover;
    height: calc(100vh + 10vw);
    margin-top:-70px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

section#home h1 {
    margin-top: -15rem;
    /* width: 100%; */
    /* padding: 120px 0; */
    font-size: 120px;
    font-weight: 700;
    color: #fff;
    text-align:center;
    text-transform: uppercase;
    text-shadow: 5px 5px 15px #333333;
    line-height:0.8em;
}

section#home h1 span{
    font-size: 40px;
}



/* ABOUT */

.flex {
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap: wrap;
    gap: 50px;
}

section#about{
    background-color: #8eeccc;
    width:100%;
    /* clip-path: polygon(0 10vw, 70% 0,100% 10vw, 100% 100%, 0 100%); */
    clip-path: polygon(0 10vw, 70% 0,100% 10vw, 100% calc(100% - 10vw), 0 100%);
    margin-top: -10vw;
    padding: 14vw 20px;
}

section#about div.flex div img{
    width:300px;
    clip-path:circle(145px);
    border:15px solid #fff;
    border-radius: 50%;
}

section#about div.flex div p{
    margin-bottom:10px;
}



/* CONTACT */

section#contact div.flex div{
    margin:0px 30px 30px;
    width:400px;
}

section#contact div.flex div h2{
    margin: 50px 0 20px;
}

section#contact div.flex div form{
    margin:0 auto;
}

section#contact input, section#contact textarea {
    display:block;
    margin:0 0 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding:8px;
    width:100%;
}

section#contact input:focus , section#contact textarea:focus {
    outline: none;
    border: 2px solid #0baa2d;
    
}

section#contact textarea {
    margin:0;
}

section#contact label[for=checkbox]{
    margin:0;
    padding-left:10px;
    font-size: 10px;
}

section#contact input#checkbox{
    margin:0;
    padding:0;
    display: inline;
    width: auto;
}

section#contact input[type=submit]{
    margin:10px 0;
    padding:10px;
    background:#0cc233;
    color: #fff;
    border:0;
    border-radius: 3px;
    outline:none;
    font-weight: 700;
}

section#contact input[type=submit]:hover{
    background: #0baa2d;
    cursor: pointer;
    transition:0.3s;
}



/* FOOTER */

footer{
    background: #333;
}


footer .social {
    color:#eee;
}

footer div.social ul {
    display:flex;
    justify-content: center;
    align-items: center;
    column-gap: 3rem;
}

footer div.social ul li{
        list-style: none;
        margin:30px 0 20px;
}

footer div.social ul li:hover{
    filter:brightness(0.8);
    transition: 0.3s;
}

footer p.bottomBar{
    background:#222;
    color:#fff;
    text-align:center;
    padding:15px;
}


/* SUBSCRIBE MODAL DIALOG */

dialog#subscribe-modal {
    position: fixed;
    top: 50dvb;
    bottom: 50dvb;
    margin: auto;
    padding: 2rem;
    width: 50dvi;
    border: 4px solid #0cc233;
    border-radius: 8px;
    filter: drop-shadow(0px 0px 100px hsl(0, 0%, 50%));
}

dialog#subscribe-modal[open] {
    animation: OpacityIn 0.3s forwards;
}

dialog#subscribe-modal[open]::backdrop {
    animation: fadeIn 0.3s forwards;
}

dialog#subscribe-modal .btnCloseModal {
    border: 0;
    background-color: #0cc233;
    color: #fff;
    width: 4rem;
    height: 2.5rem;
    padding: 4px;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0rem;
}

dialog#subscribe-modal .btnCloseModal:hover {
    filter: brightness(.9);
}

dialog#subscribe-modal form {
    margin-top: 2rem;
}

dialog#subscribe-modal form label[for="subscribe-email"] {
    display: none;
}

dialog#subscribe-modal form input[type="email"] {
    padding: 10px;
    outline: 1px solid #ccc;
    border: 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    max-width: 50%;
    font-size: 16px;
}


@media (max-width: 768px) {
    dialog#subscribe-modal form input[type="email"] {
        margin-bottom: 1rem;
        min-width: 100%;
    }

    dialog#subscribe-modal form input[type="button"] { 
        min-width: 100%;
    }
}

dialog#subscribe-modal form input[type="email"]:focus {
    border: 0;
    outline: #0baa2d solid 2px;
}

dialog#subscribe-modal form input[type="button"] {
    margin: 0;
    margin-left: -3px;
    padding: 10px;
    outline: #0cc233 solid 1px;
    border: 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background: #0cc233;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
}

dialog#subscribe-modal form input[type="button"]:hover {
    background: #0baa2d;
    cursor: pointer;
    transition: 0.3s;
}



@keyframes fadeIn {
    from {
        backdrop-filter: blur(0px);
    }
    to {
        backdrop-filter: blur(5px);
    }
}

@keyframes OpacityIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
